body {
  font-family: Helvetica, Arial;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.5%;
  justify-items: center;
  align-items: center;
}
header {
  color: white;
  margin: 10px;
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  background-color: #70a1ff;
  width: 90%;
  height: 40px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer {
  color: white;
  margin: 10px;
  border: 2px solid red;
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  background-color: #70a1ff;
  width: 90%;
  height: 40px;
}

main {
  margin: 10px;
  height: 600px;
  width: 90%;
  border: 2px solid red;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}

.hm1 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.hm1con {
  margin-bottom: 10px;
  width: 90%;
  height: 60%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hm2 {
  background-color: rgb(252, 252, 126);
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: center;
  align-items: center;
}

.hm2con {
  width: 90%;
  height: 70%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hm3 {
  background-color: rgb(252, 252, 126);
  height: 120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: center;
  align-items: center;
}

.hm3con {
  width: 90%;
  height: 70%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  margin: 1px;
  border: 2px solid red;
  align-self: center;
}

blockquote {
  width: 40%;
  height: auto;
}

.bm1 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.bm2 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.em1 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.em12 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.em2 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.em21 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.pm1 {
  background-color: rgb(252, 252, 126);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.pm11 {
  background-color: white;
  width: 100%;
  height: 92%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: #808e9b;
  justify-content: space-between;
  align-items: center;
}

.pm111 {
  width: 45%;
  height: 18%;
  margin: auto;
  background-color: rgb(252, 252, 126);
}
