header {
  margin: 10px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #0fbcf9;
  width: 90%;
  height: 25px;
}

footer {
  margin: 10px;
  border: 2px solid red;
  display: flex;
  align-self: center;
  background-color: #0fbcf9;
  width: 90%;
  height: 25px;
}

main {
  margin: 10px;
  width: 90%;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
}
